{% extends 'base.html' %}

{% block title %}Cargos{% endblock %}

{% block content %}
<h1 class="page-title">Cargos</h1>

<a href="{{ url_for('cargo.novo') }}" class="btn btn-new">
    + Novo Cargo
</a>

<table>
    <thead>
        <tr>
            <th>Nome do Cargo</th>
            <th>Salário Base</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for c in cargos %}
        <tr>
            <td>{{ c['nome_cargo'] }}</td>
            <td>R$ {{ c['salario_base'] }}</td>
            <td>
    <a href="{{ url_for('cargo.editar', id=c['idCargo']) }}"
       class="btn btn-edit">Editar</a>

    <a href="{{ url_for('cargo.excluir', id=c['idCargo']) }}"
       class="btn btn-delete"
       onclick="return confirm('Deseja excluir este cargo?')">
        Excluir
    </a>
</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
